<table class="table">
  <colgroup>
    <col width="30%">
    <col width="15%">
    <col width="20%">
    <col>
  </colgroup>
  <thead class="thead-light">
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.hkr_temp_is') %></th>
      <th><%= t('.hkr_temp_set') %></th>
      <th><%= t('.next_change') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render local_assigns[:group] if local_assigns[:group] %>
    <%= render local_assigns[:actors], locals: { group: local_assigns[:group] } %>
  </tbody>
</table>
