<tr>
  <% if actor.type == :device %>
    <td><%= actor.name %></td>
    <td><%= temperature_format actor.hkr_temp_is %></td>
  <% else %>
    <td colspan="2">
      <%= t('.group_switch') %>
    </td>
  <% end %>
  <td>
    <% if actor.hkr_temp_set == Fritzbox::Smarthome::TEMP_VALUE_OFF %>
      <%= switch_actor_on_link actor %>
    <% else %>
      <%= dec_temperature_link actor %>
      &nbsp;&nbsp;
      <%= temperature_format actor.hkr_temp_set %>
      &nbsp;&nbsp;
      <%= inc_temperature_link actor %>
      &nbsp;&nbsp;
      <%= switch_actor_off_link actor %>
    <% end %>
  </td>
  <td>
    <%= content_tag :span, title: actor.hkr_next_change_period do %>
      <%= t('.to') %> <%= temperature_format actor.hkr_next_change_temp %>
      <%= t('.in') %> <%= distance_of_time_in_words Time.now.utc, actor.hkr_next_change_period %>
    <% end unless local_assigns.dig(:locals, :group) %>
  </td>
</tr>
