<tr>
  <% if actor.type == :device %>
    <td><%= actor.name %></td>
    <td><%= temperature_format actor.hkr_temp_is %></td>
  <% else %>
    <td colspan="2">
      <%= t('.group_switch') %>
    </td>
  <% end %>
  <td>
    <% if actor.hkr_temp_set == Fritzbox::Smarthome::TEMP_VALUE_OFF %>
      <%= link_to "ON", actor_path(id: actor.ain, hkr_temp_set: actor.hkr_temp_is), method: :put %>
    <% else %>
      <%= link_to "↓", actor_path(id: actor.ain, hkr_temp_set: actor.hkr_temp_set - 0.5), method: :put %>
      &nbsp;&nbsp;
      <%= actor.hkr_temp_set %> °C
      &nbsp;&nbsp;
      <%= link_to "↑", actor_path(id: actor.ain, hkr_temp_set: actor.hkr_temp_set + 0.5), method: :put %>
      &nbsp;&nbsp;
      <%= link_to "OFF", actor_path(id: actor.ain, hkr_temp_set: Fritzbox::Smarthome::TEMP_VALUE_OFF), method: :put %>
    <% end %>
  </td>
  <td>
    <%= content_tag :span, title: actor.hkr_next_change_period do %>
      <%= t('.to') %> <%= temperature_format actor.hkr_next_change_temp %>
      <%= t('.in') %> <%= distance_of_time_in_words Time.now.utc, actor.hkr_next_change_period %>
    <% end unless local_assigns.dig(:locals, :group) %>
  </td>
</tr>
